@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }




  /* scroll anmation */
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
    }

  .reveal.active{
    transform: translateY(0);
    opacity: 1;
    }

  .main-hero{
    width: 100%;
    height: 100vh;
    /* background-color: #0082e6 */
    background: 
    linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0, 0)),
    url(./image/sch2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  nav{
    /* background: #0082e6;   */
    /* height: 80px;*/
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  p.logo{
    /* background-color: red; */
    font-family: 'DM Sans', sans-serif;
    color: white;;
    font-size: 35px;
    font-weight: bolder;
    line-height: 80px;
    padding: 0 20px;
    /* display: none; */
  }
  .logo-span-2{
    color: #1b9bff;
  }
  nav ul{
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 10;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }


.hero-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-left-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 55%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:start;
    padding-bottom:5%;
    padding-left: 2%;
    padding-right: 2%;
}    

div.hero-left-container > p.hero-pre-title{
  font-size: 18px;
  font-style: italic;
}

h1.hero-h1{
    font-size: 55px;
}

span.hero-span{ 
    color: #0082e6;
    font-weight: bold;
}

p.hero-p{
    font-size: 20px;
    margin-bottom: 25px;
}

button.hero-button{
    border: none;
    color: #fff;
    background-color: #0082e6;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    transition: .2s ease-in-out 0s;
    /* font-weight: bold; */
}
.hero-button:hover{
  transform: scale(0.8);
  background-color: #0056b3;
}




.program {
    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1.program-h1{
    text-align: center;
    font-size: 45px;  
}
.program-row {
    padding: 10px 0;
    /* background-color: #1b9bff; */
    width: 9  0%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-self: center;
}
.program-row > .program-box{
  padding: 20px;
}
.program-row h3{
  margin-top: 40px;
  margin-bottom: 10px;
}
.program-box {
    text-align: center;
    padding: 50px;
    height: 500px;
    width: 30%;
    margin: 5px;
    padding: 10px;
}
.program-row > .one{
  transition: 2s ease 0s;
}
.program-row > .two{
  transition: 2s ease .4s;
}
.program-row > .three{
  transition: 2s ease .8s;
} 
div.program-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    /* height: auto; */
}

.program-box h3 {
    font-size: 24px;
    font-weight: 600;
    /* margin: 10px 0; */
}

.program-box p {
    font-size: 16px;
}




.about {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgb(20,20,20);
  margin-bottom: 20px;
  display: flex;
  color: #fff;
  transition: .4s ea 0s;
} 
h2.about-h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 35px;
  /* background-color: #0056b3; */
}
.about-box {
  text-align: center;
  margin: 0 20px;
  height: 90%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.about-box-right{
  background: 
    linear-gradient(to right, rgba(20,20,20,1), rgba(20,20,20, 0)),
    url(./image/sch1.jpg);
    background-position: center;
    background-size: cover;
  width: 80%;
  height: 100%;
}

.about-box p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  /* background-color: #007bff; */
}


.awards-container{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}
.awards{
  width: 100%;
  height: 90%;
  /* background-color: #0056b3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.awards-h1{
  font-size: 55px;
  margin-bottom: 20px ;
}
.awards-box{
  width: 30%;
  height: 100%;
  /* background: #fff; */
  margin: 10px;
  text-align: center;
}
.awards-container > .one{
  transition: 2s all ease 0s ;
}
.awards-container > .two{
  transition: 2s all ease .2s ;
}
.awards-container > .three{
  transition: 2s all ease .4s ;
}
.fa-award{
  font-size: 50px;
  margin-bottom: 10px;
}
.awards-box > p{
  font-size: 14px;
}


.contact {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b9bff; 
}
.contact-left{
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to left, rgba(20,20,20,1), rgba(20,20,20, 0)),
    url(./image/sch1.jpg);
    background-position: center;
    background-size: cover;
}
.contact-right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  background: rgb(20,20,20);
}
h2.contact-h2 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
form {
  max-width: 400px;
  margin: 0 auto; /* Membuat form rata tengah */
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  text-align: left;
  margin: 15px 0;
}

label {
  color: #fff;
  font-weight: 600;
}

input, textarea {
  background: transparent;
  width: 95%;
  color: #fff;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  display: inline-block;
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.submit-button:hover {
  transform: scale(0.8);
  background-color: #0056b3;
}



footer {
  text-align: center;
  background-color: #333; /* Latar belakang footer */
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.footer-top{
  display: flex;
  width: 100%;
  height: 80%;
  padding-top: 20px;
  justify-content: space-between;
}

.footer-box-left, .footer-box-right {
  width: 90%;
  height: 100%;
  /* background-color: #0082e6; */
}
.footer-box-left{
  display: flex;
  justify-content: center;
  align-items: center
}
.footer-left-box{
  text-align: left;
  width: 80%;
  font-size: 14px;
}
.footer-col-container{
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.footer-col{
  display: flex;
  width: 20%;
  flex-direction: column;
}

a.footer-menu, .footer-icon{
  color: #fff;
}

.footer-icon{
  font-size: 35px;
  padding: 10px;
}

.socmed-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0056b3; */
  width: 100%;
  height: 90%;
}

.footer-bottom{
  width: 100%;
  height: 80%;
  background-image: url(./image/wave.svg);
  /* background-color: #fff; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footer-bottom-information{
  position: absolute;
  width: 100%;
  /* background-color: #0056b3; */
  bottom: 0;
  color: #fff;
  display: flex;
  padding: 1.2vw;
  justify-content: space-between;
}

/* Media query untuk desktop */
@media (min-width: 1024px) {
  .nav{
    padding: 0 30px;
  }
  label.logo{
    font-size: 2vw;
  }
  nav ul li a{ 
    font-size: 1.5vw;
  }
  p.hero-pre-title{
    font-size: 2vw;
  }
  h1.hero-h1{
    font-size: 4vw;
  }
  p.hero-p{
    font-size: 1.5vw;
  }
  button.hero-button{
    font-size: 1.5vw;
  }


  .program{
    height:60vh;
  }
  h1.program-h1{
    font-size: 3.2vw;
  }
  .program-box h3{
    font-size: 1.8vw;
  }
  .program-box p{
    font-size: 1.2vw;
  }
    
}

/* Media query untuk tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .hamburger-menu{
      display: block;
  }
  .menu{
      display: none;
  }
}

/* Media query untuk perangkat mobile */
@media (max-width: 767px) {
  .amburger-menu{
      display: block;
  }
  .menu{
      display: none;
  }
}